.organizer{
    background-color:#505050;
    background-image:linear-gradient(to bottom,#fff,#eee);
}
button {
    background-image:linear-gradient(to bottom,#eee,#fff);
    border-radius:5px;
    border-color:#fff;
    border-radius:0px;
}
body{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
} 

