.organizer{
    background-color:#505050;
    background-image:linear-gradient(to bottom,#fff,#eee);
}
button {
    background-image:linear-gradient(to bottom,#eee,#fff);
    border-radius:5px;
    border-color:#fff;
    border-radius:0px;
    font-family: 'Syne Mono', monospace;
}
body{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: 'Syne Mono', monospace;
} 
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
select{
    font-family: 'Syne Mono', monospace;
}
input{
    font-family: 'Syne Mono', monospace;
}
.title{
    
}